<!DOCTYPE html>
<html>
  <head>
  <%= action_cable_meta_tag %>
    <title>WebSocket</title>
    <%= csrf_meta_tags %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href ="/">Home</a>
  <% if logged_in? %>
    <%= link_to 'Logout', logout_path,
              method: :delete %>
  <% else %>
    <%= link_to 'Register', new_user_path %>
    <%= link_to 'Login', '/login' %>
  <% end %>
    <%= yield %>
  </body>
</html>
